<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProductManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeControl</display-name>
    <servlet-name>HomeControl</servlet-name>
    <servlet-class>controller.HomeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControl</servlet-name>
    <url-pattern>/HomeControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductControl</display-name>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>controller.ProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/ProductControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditControl</display-name>
    <servlet-name>EditControl</servlet-name>
    <servlet-class>controller.EditControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditControl</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
</web-app>